spring:
  application:
    name: music-streaming-service
  
  datasource:
    url: jdbc:postgresql://localhost:5432/musicdb
    username: admin
    password: admin123
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false

server:
  port: 8080
  servlet:
    context-path: /api

spring.graphql:
  graphiql:
    enabled: true
    path: /graphiql
  path: /graphql

grpc:
  server:
    port: 9090

logging:
  level:
    com.streaming.music: DEBUG
    org.hibernate.SQL: DEBUG
